<!-- /* Bu altyapi theChain tarafından yapılmıştır! Eger bir sorun yasar iseniz github profilimden discord profilime ulaşabilirsiniz */
/* Emeğe saygı konusunda altyapıyı kendininiz çalmamanız her türlü daha hoş olur */ -->

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>theChain - Kişisel Web Sitesi</title>
    <script src="scripts/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Ogp -->
    <meta property="og:title" content="theChain diyorum sanaaa :D" />
    <meta property="og:url" content="https://github.com/theChainxd" />
    <meta property="og:image"
        content="https://cdn.discordapp.com/attachments/1012803424351432765/1013793744199368724/avatar.png" />
    <meta property="og:description" content="theChain kisisel site iste kullanin atin falan " />
    <meta name=”description” content="theChain kisisel web sitesi, altyapı githubda paylasildi. iyi kullanimlar " />
</head>

<body>
    <section id="home">
        <div id="blurEfecet">
            <div id="main">
                <!-- Me -->
                <div id="meArea" style="height: 100%; display: none;width: 100%; ">
                    <div class="exit cancel center">
                        <i class="fa-solid fa-circle-xmark" onclick="meAreaCikis()"></i>
                    </div>
                    <h1>Selam!</h1>
                    <p>Selam! Ben theChain. YouTube'da içerik üreticisiyim. Yazılım ile ilgileniyorum</p>
                    <iframe src="https://lanyard.cnrad.dev/api/725640663110254612?theme=dark&bg=000" frameborder="0"
                        id="discordİframe" style="color: rgb(19, 19, 19);"></iframe>
                    <hr><br>
                    <div id="program">
                        <h1 style="font-size: 20px; color: #000;">İlgilendiğim Programlama Dilleri</h1>
                        <div class="prgElement">
                            <div style="display: flex; justify-content: space-between;">
                                <span>HTML</span><span>90%</span>
                            </div>
                            <div class="prgDivElement" style="animation: HTML 3s"><span></span></div>
                        </div>
                        <div class="prgElement">
                            <div style="display: flex; justify-content: space-between;">
                                <span>Javascript</span><span>60%</span>
                            </div>
                            <div class="prgDivElement" style="padding-right: 70px; animation: JavasLoad 3s"><span
                                    style="background-color: aqua;"></span></div>
                        </div>
                        <div class="prgElement">
                            <div style="display: flex; justify-content: space-between;">
                                <span>Python</span><span>50%</span>
                            </div>
                            <div class="prgDivElement" style="padding-right: 150px; animation: Python 3s"><span
                                    style="background-color: rgb(229, 255, 0);"></span></div>
                        </div>
                    </div>
                </div>
                <!-- projects -->
                <div id="projectsArea" style="height: 100%; display: none;width: 100%; overflow: scroll; ">
                    <div class="exit cancel center projectsExit">
                        <i class="fa-solid fa-circle-xmark" onclick="projectsAreaCikis()"></i>
                    </div>
                    <h1>Projelerim</h1>
                    <article class="projelerim">
                        <div class="projeResmi">
                            <img
                                src="https://cdn.discordapp.com/attachments/870951660468449362/949703856386879588/standard.png">
                        </div>
                        <hr>
                        <div class="ProjeAnlatim">
                            <h1>Flawixy Development</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.

                            </p>
                        </div>
                    </article>
                    <article class="projelerim">
                        <div class="projeResmi">
                            <img
                                src="https://cdn.discordapp.com/attachments/870951660468449362/949703856386879588/standard.png">
                        </div>
                        <hr>
                        <div class="ProjeAnlatim">
                            <h1>Flawixy Development</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.

                            </p>
                        </div>
                    </article>
                    <article class="projelerim">
                        <div class="projeResmi">
                            <img
                                src="https://cdn.discordapp.com/attachments/870951660468449362/949703856386879588/standard.png">
                        </div>
                        <hr>
                        <div class="ProjeAnlatim">
                            <h1>Flawixy Development</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.

                            </p>
                        </div>
                    </article>
                    <article class="projelerim">
                        <div class="projeResmi">
                            <img
                                src="https://cdn.discordapp.com/attachments/870951660468449362/949703856386879588/standard.png">
                        </div>
                        <hr>
                        <div class="ProjeAnlatim">
                            <h1>Flawixy Development</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.

                            </p>
                        </div>
                    </article>
                    <article class="projelerim">
                        <div class="projeResmi">
                            <img
                                src="https://cdn.discordapp.com/attachments/870951660468449362/949703856386879588/standard.png">
                        </div>
                        <hr>
                        <div class="ProjeAnlatim">
                            <h1>Flawixy Development</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.

                            </p>
                        </div>
                    </article>
                </div>
                <!-- call -->
                <div id="callArea" style="height: 100%; display: none;width: 100%; ">
                    <div class="exit cancel center callExit">
                        <i class="fa-solid fa-circle-xmark" onclick="CallAreaCikis()"></i>
                    </div>
                    <h1>Bana ulaşabileceğeniz yerler!</h1>
                    <br>
                    <div id="iletisimYerleri">
                        <span>+999 999 99 99</span>
                        <span>help@thechain.xyz</span>
                        <span>theChain#1152</span>
                    </div>
                    <div class="meArea-icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-facebook"></i>
                    </div>
                </div>
                <!-- Profile -->
                <div id="profile">
                    <div id="avatarAlani">
                        <img src="https://cdn.discordapp.com/attachments/1012803424351432765/1013793744199368724/avatar.png"
                            id="avatar">
                    </div>
                    <div id="textAlani">
                        <h1>theChain</h1>
                        <span>Node.js developer. </span>
                    </div>
                    <div id="buttonArea">
                        <ul>
                            <li><i class="fas fa-address-card imgs" class="imgs" id="me" onclick="me()"></i></li>
                            <li><i class="fa-solid fa-bars-progress imgs" class="imgs" id="projects"
                                    onclick="projects()"></i></li>
                            <li><i class="fa-solid fa-phone imgs" class="imgs" id="phone" onclick="phone()"></i></li>
                        </ul>
                    </div>
                </div>
                      <p style="color: rgba(255 , 255 , 255 , 0.2);">made by <a style = "text-decoration: none;" href="https://github.com/theChainxd">theChain</a></p>
                <!-- Finish -->
            </div>
        </div>
    </section>
</body>

</html>

